graficos/Service References/ServiceH2O/ServiceLog1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceLog" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://smarth2owebservice.apphb.com/ServiceLog.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://smarth2owebservice.apphb.com/ServiceLog.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceLog_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IServiceLog_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLog_SendValues_InputMessage">
    <wsdl:part name="parameters" element="tns:SendValues" />
  </wsdl:message>
  <wsdl:message name="IServiceLog_SendValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLog_GetAllValues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllValues" />
  </wsdl:message>
  <wsdl:message name="IServiceLog_GetAllValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLog_GetValuesBySensorName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetValuesBySensorName" />
  </wsdl:message>
  <wsdl:message name="IServiceLog_GetValuesBySensorName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetValuesBySensorNameResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLog_GetValuesByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetValuesByDate" />
  </wsdl:message>
  <wsdl:message name="IServiceLog_GetValuesByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetValuesByDateResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLog_GetValuesByDateAndHour_InputMessage">
    <wsdl:part name="parameters" element="tns:GetValuesByDateAndHour" />
  </wsdl:message>
  <wsdl:message name="IServiceLog_GetValuesByDateAndHour_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetValuesByDateAndHourResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLog_GetValuesBetweenDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetValuesBetweenDate" />
  </wsdl:message>
  <wsdl:message name="IServiceLog_GetValuesBetweenDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetValuesBetweenDateResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLog_SendAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:SendAlarm" />
  </wsdl:message>
  <wsdl:message name="IServiceLog_SendAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLog_GetAllAlmars_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAlmars" />
  </wsdl:message>
  <wsdl:message name="IServiceLog_GetAllAlmars_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAlmarsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLog_GetAlarmsByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmsByDate" />
  </wsdl:message>
  <wsdl:message name="IServiceLog_GetAlarmsByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmsByDateResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLog_GetAlarmsBetweenDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmsBetweenDate" />
  </wsdl:message>
  <wsdl:message name="IServiceLog_GetAlarmsBetweenDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmsBetweenDateResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLog_GetAlarmsByDateAndHour_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmsByDateAndHour" />
  </wsdl:message>
  <wsdl:message name="IServiceLog_GetAlarmsByDateAndHour_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmsByDateAndHourResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceLog">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLog/DoWork" message="tns:IServiceLog_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLog/DoWorkResponse" message="tns:IServiceLog_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLog/SendValues" message="tns:IServiceLog_SendValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLog/SendValuesResponse" message="tns:IServiceLog_SendValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLog/GetAllValues" message="tns:IServiceLog_GetAllValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLog/GetAllValuesResponse" message="tns:IServiceLog_GetAllValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetValuesBySensorName">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLog/GetValuesBySensorName" message="tns:IServiceLog_GetValuesBySensorName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLog/GetValuesBySensorNameResponse" message="tns:IServiceLog_GetValuesBySensorName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetValuesByDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLog/GetValuesByDate" message="tns:IServiceLog_GetValuesByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLog/GetValuesByDateResponse" message="tns:IServiceLog_GetValuesByDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetValuesByDateAndHour">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLog/GetValuesByDateAndHour" message="tns:IServiceLog_GetValuesByDateAndHour_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLog/GetValuesByDateAndHourResponse" message="tns:IServiceLog_GetValuesByDateAndHour_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetValuesBetweenDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLog/GetValuesBetweenDate" message="tns:IServiceLog_GetValuesBetweenDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLog/GetValuesBetweenDateResponse" message="tns:IServiceLog_GetValuesBetweenDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLog/SendAlarm" message="tns:IServiceLog_SendAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLog/SendAlarmResponse" message="tns:IServiceLog_SendAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAlmars">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLog/GetAllAlmars" message="tns:IServiceLog_GetAllAlmars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLog/GetAllAlmarsResponse" message="tns:IServiceLog_GetAllAlmars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlarmsByDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLog/GetAlarmsByDate" message="tns:IServiceLog_GetAlarmsByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLog/GetAlarmsByDateResponse" message="tns:IServiceLog_GetAlarmsByDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlarmsBetweenDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLog/GetAlarmsBetweenDate" message="tns:IServiceLog_GetAlarmsBetweenDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLog/GetAlarmsBetweenDateResponse" message="tns:IServiceLog_GetAlarmsBetweenDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlarmsByDateAndHour">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLog/GetAlarmsByDateAndHour" message="tns:IServiceLog_GetAlarmsByDateAndHour_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLog/GetAlarmsByDateAndHourResponse" message="tns:IServiceLog_GetAlarmsByDateAndHour_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceLog" type="tns:IServiceLog">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IServiceLog/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendValues">
      <soap:operation soapAction="http://tempuri.org/IServiceLog/SendValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllValues">
      <soap:operation soapAction="http://tempuri.org/IServiceLog/GetAllValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValuesBySensorName">
      <soap:operation soapAction="http://tempuri.org/IServiceLog/GetValuesBySensorName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValuesByDate">
      <soap:operation soapAction="http://tempuri.org/IServiceLog/GetValuesByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValuesByDateAndHour">
      <soap:operation soapAction="http://tempuri.org/IServiceLog/GetValuesByDateAndHour" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValuesBetweenDate">
      <soap:operation soapAction="http://tempuri.org/IServiceLog/GetValuesBetweenDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAlarm">
      <soap:operation soapAction="http://tempuri.org/IServiceLog/SendAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAlmars">
      <soap:operation soapAction="http://tempuri.org/IServiceLog/GetAllAlmars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlarmsByDate">
      <soap:operation soapAction="http://tempuri.org/IServiceLog/GetAlarmsByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlarmsBetweenDate">
      <soap:operation soapAction="http://tempuri.org/IServiceLog/GetAlarmsBetweenDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlarmsByDateAndHour">
      <soap:operation soapAction="http://tempuri.org/IServiceLog/GetAlarmsByDateAndHour" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceLog">
    <wsdl:port name="BasicHttpBinding_IServiceLog" binding="tns:BasicHttpBinding_IServiceLog">
      <soap:address location="http://smarth2owebservice.apphb.com/ServiceLog.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>